
$textLight: #f7e9ca;

$bgColor: #faf1dd;
$elements: #d9ac2a;
$middle: #d8d583;
$darkEls: #270101;

$textDark: #160101;

$blue: #270117;

%title-font {
    font-family: OpenSans, Arial, sans-serif;
    font-size: clamp(1rem, 3vw, 1.2rem);
    line-height: 1.55;
}


